@import url('https://fonts.googleapis.com/css?family=Corben:400,700|Montserrat:400,700');

/* COMMON */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#header {
    padding: 0 100px;
}

#header > div, nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #252525;
    font-weight: normal;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
}

a:hover,
.nav-item:hover {
    color: #adb5bd;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/* TEXT */
h1,
h2,
h3,
h4 {
    font-family: 'Corben', sans-serif;
}

h2 {
    color: #393939;
    font-size: 1.5em;
}

h3 {
    color: #505050;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 0;
}

h4 {
    color: #696969;
    font-size: 18px;
    line-height: normal;
}

p {
    color: #121212;
    font-size: 14px;
    font-weight: normal;
}

label {
  color: #121212;
  font-size: 14px;
  font-weight: normal;
}

strong {
    font-weight: 500;
}

/* INDEX PAGE */
.container {
    height: 100%;
    display: grid;
    grid-template-rows: 80px 300px auto auto;
    background-color: #fff;
    text-align: center;
}

#header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid black;
}



/* LOGO */
#header-img {
    max-width: 50%;
    max-height: 50%;
    padding: 12px;
}

/* TITLE */
#header-title {
    color: #252525;
    font-family: 'Corben', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
}

/* NAVIGATION */
.nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #252525;
    letter-spacing: -0.5px;
    padding-right: 22px;
    padding-left: 22px;
}

/* BANNER */
.banner {
    background: url(../images/banner.jpg) no-repeat center;
    height: auto;
    width: 100%;
}

/* ABOUT */
#about {
    width: 760px;
    margin: 0 auto;
}

/* ORDER FORM */
#order {
  border: 1px solid black;
  border-radius: 8px;
  width: 760px;
  margin: 24px auto;
  background-color: antiquewhite;
}

.client-item,
#frame-list,
#motors-list,
#camera-list,
#textarea-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 14px;
  padding: 12px 0;
  margin: 0 40px;
}

.client-item label,
#frame-list p,
#motors-list p,
#camera-list p,
#textarea-group p {
  text-align: right;
}

#frame-dropdown,
#motors-dropdown,
#camera-dropdown {

}

#submit {
  background-color: #232526;
  border: none;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* FOOTER */
.footer {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 30px;
}

.footer h2 {
    color: #fff;
    margin-bottom: 1em;
}

.footer p {
    color: #d9d9d9;
    font-size: 14px;
}

.contact-info > p {
    text-align: inherit;
}

.copyright {
    border-top: 1px solid rgba(255,255,255,0.1);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
    .container {
        grid-template-rows: 80px 200px auto auto;
    }

    #header {
        padding: 0px;
    }

    #header-img {
        max-width: 30%;
        max-height: 30%;
    }

    #header-title {
        font-size: 20px;
    }

    .nav-link {
        font-size: 14px;
        padding-right: 11px;
        padding-left: 11px;
    }

    /* ABOUT */
    #about {
        width: 560px;
        margin: 0 auto;
    }

    /* ORDER FORM */
    #order {
        border: 1px solid black;
        border-radius: 8px;
        width: 560px;
        margin: 24px auto;
        background-color: antiquewhite;
    }

}